body {
  background-image: url("../assets/Background.jpg");
  background-size: cover;

  display: flex;
  position: relative;
  margin: auto;
  width: 35vw;
  height: 100vh;
}

#startGameModal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

#introMessage {
  border: 3px solid #fff;
  border-radius: 3px;
  background-color: black;
  opacity: 1;
  color: #fff;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 35%;
  padding: 5% 2%;
}

#introMessage > h3 {
  font-family: 'Monoton', cursive;
  color: #e5ff00;
}

#playButton {
  color: black;
  font-size: 20px;
  border: 1px solid #fff;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  padding: 3px;
}

#playButton:active {
  background-color: grey;
}

#ttrCanvas {
  width: 30vw;
}

#links {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
}

#github {
  max-width: 40px;
  max-height: 40px;
}

#linkedin {
  max-width: 40px;
  max-height: 40px;
}

#score {
  color: #ffff88;
  position: absolute;
  font-size: 28px;
  top: 10px;
  left: calc(50% - 85px);
}

#combo {
  font-family: 'Monoton', cursive;
  font-size: 50px;
  position: absolute;
  left: -40px;
  top: 200px;
  color: #f46530;
  border-radius: 3px;
  padding: 0 10px;
}

#title {
  font-family: 'Monoton', cursive;
  font-size: 55px;
  width: 200px;
  text-align: center;
  color: #e5ff00;
  position: absolute;
  left: -425px;
  top: 175px;
}

#directions {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  position: absolute;
  right: -350px;
  top: 200px;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 3px;
  padding: 10px;
}

#directions > div {
  text-align: center;
  border-bottom: 3px solid #fff;
}

#directions-list {
  width: 250px;
  flex-wrap: wrap;
  display: flex;
  color: #fff;
  list-style-type: disc;
}

#directions-list > li {
  padding: 10px;
  margin-right: 15px;
  /* margin-bottom: 8px; */
}

#duplicates {
  display: none;
}

#mute-button {
  position: absolute;
  top: 15px;
  border-radius: 5px;
  background-color: #fff;
  max-width: 25px;
  max-height: 25px;
}
