body {
  background-image: url("./assets/Background.jpg");
  background-size: cover;
  display: flex;
  position: relative;
  width: 40vw;
  margin: auto;
}

#links {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
}

#github {
  max-width: 40px;
  max-height: 40px;
}

#linkedin {
  max-width: 40px;
  max-height: 40px;
}

#score {
  color: #ffff88;
  position: absolute;
  font-size: 25px;
  top: 10px;
  left: calc(50% - 50px);
}

/* #combo {
  color: #fff;
} */

#directions {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  position: absolute;
  right: -100px;
  top: 250px;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 3px;
  padding: 10px;
}

#directions > div {
  text-align: center;
  border-bottom: 3px solid #fff;
}

#directions-list {
  max-width: 90px;
  flex-wrap: wrap;
  display: flex;
  color: #fff;
  list-style-type: none;
}

#directions-list > li {
  margin-right: 15px;
  margin-bottom: 8px;
}

#duplicates {
  display: none;
}

#mute-button {
  position: absolute;
  top: 15px;
  border-radius: 5px;
  background-color: #fff;
  max-width: 25px;
  max-height: 25px;
}
