body {
  background-image: url("Background.jpg");
  background-size: cover;
  display: flex;
  position: relative;
  width: 40vw;
  margin: auto;
}

#ttrCanvas {

}

img {
  display: none;
}

#score {
  color: #ffff88;
  position: absolute;
  font-size: 25px;
  top: 10px;
  left: 50%;
}
